<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangsx95.notes.mapper.UserMapper">

    <resultMap id="userResultMap" type="User">
        <result column="gender" property="gender" javaType="com.yangsx95.notes.enums.Gender"
                typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
    </resultMap>

    <select id="findById" parameterType="integer" resultMap="userResultMap">
        SELECT *
        FROM MYBATIS."USER"
        WHERE id = #{id}
    </select>

    <insert id="save" parameterType="User">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
            VALUES NEXT VALUE FOR MYBATIS.SQ_USER
        </selectKey>
        insert into "USER" (ID, USERNAME, PASSWORD, GENDER)
        VALUES (${id},#{username}, #{password}, #{gender, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler})
    </insert>

    <update id="update" parameterType="User">
        update MYBATIS."USER"
        set USERNAME   = #{username},
            "PASSWORD" = #{password},
            STATUS     = #{status},
            DEL_STATUS = #{delStatus},
            GENDER     = #{gender, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
        where ID = #{id}
    </update>

    <select id="findAll" parameterType="string" resultMap="userResultMap">
        SELECT *
        from MYBATIS."USER"
        WHERE USERNAME LIKE '%${value}%'
    </select>

    <delete id="delById" parameterType="integer">
        delete from  MYBATIS."USER"
        WHERE ID = ${value}
    </delete>
</mapper>