<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yangsx95.notes.ssm.mapper.UserMapper">

    <resultMap id="userResultMap" type="user">
        <result column="gender" property="gender" javaType="io.github.yangsx95.notes.ssm.enums.Gender"
                typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
    </resultMap>

    <select id="findById" parameterType="integer" resultMap="userResultMap">
        SELECT *
        FROM mybatis.USER
        WHERE id = #{id}
    </select>

    <insert id="save" parameterType="io.github.yangsx95.notes.ssm.pojo.User">
        insert into mybatis.USER (ID, USERNAME, PASSWORD, GENDER)
        VALUES (${id},#{username}, #{password}, #{gender, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler})
    </insert>

    <update id="update" parameterType="io.github.yangsx95.notes.ssm.pojo.User">
        update mybatis.USER
        set USERNAME   = #{username},
            "PASSWORD" = #{password},
            STATUS     = #{status},
            DEL_STATUS = #{delStatus},
            GENDER     = #{gender, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
        where ID = #{id}
    </update>

    <select id="findAll" parameterType="string" resultMap="userResultMap">
        SELECT *
        from mybatis.USER
        WHERE USERNAME LIKE '%${value}%'
    </select>

    <delete id="delById" parameterType="integer">
        delete from mybatis.USER
        WHERE ID = ${value}
    </delete>
</mapper>