<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--1. Mapper.xml文件中的namespace与mapper接口的类路径相同。-->
<mapper namespace="com.yangsx95.demo.mapper.UserMapper">

    <resultMap id="userResultMap" type="user">
        <result column="gender" property="gender" javaType="Gender"
                typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
    </resultMap>

    <!--2. Mapper接口方法名和UserMapper.xml中定义的每个statement的id相同 -->
    <!--3. Mapper接口方法的输入参数类型和mapper.xml中定义的每个sql 的parameterType的类型相同-->
    <!--4. Mapper接口方法的输出参数类型和mapper.xml中定义的每个sql的resultType的类型相同-->
    <select id="findById" parameterType="integer" resultMap="userResultMap">
        SELECT *
        FROM MYBATIS."USER"
        WHERE id = #{id}
    </select>

    <!--insert后返回主键-->
    <insert id="save" parameterType="User">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
            VALUES NEXT VALUE FOR MYBATIS.SQ_USER
        </selectKey>
        insert into MYBATIS."USER" (ID, USERNAME, PASSWORD, GENDER)
        VALUES (${id},#{username}, #{password}, #{gender, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler})
    </insert>

    <update id="update" parameterType="User">
        update MYBATIS."USER"
        set USERNAME   = #{username},
            "PASSWORD" = #{password},
            STATUS     = #{status},
            DEL_STATUS = #{delStatus},
            GENDER     = #{gender, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
        where ID = #{id}
    </update>

    <select id="findAll" parameterType="string" resultMap="userResultMap">
        SELECT *
        from  MYBATIS."USER"
        WHERE USERNAME LIKE '%${value}%'
    </select>

    <delete id="delById" parameterType="integer">
        delete from MYBATIS."USER"
        WHERE ID = ${value}
    </delete>
</mapper>